/** Aquí inicia el estilo del header **/
.header {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "subtitulo" "logo";
    background: url(/images/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #f5eda9;
}

.subtitulo {
    grid-area: subtitulo;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: #f5a9eb;
}

.logo {
    grid-area: logo;
    width: 15%;
    border-radius: 15px;
    margin: 5px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

#contadorProductos {
    padding: 5px;
    color: white;
    font-size: 50%;
    border-radius: 50%;
    background: palevioletred;
}

.nav-link {
    color: palevioletred;
    text-align: center;
}

.nav-link:hover {
    color: white;
    background-color: #f5a9eb;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
}

.nav-link:active {
    background-color: coral;
    transition: all, 0s;
}

/** Tablet Breakpoint **/
@media screen and (min-width: 768px) {
    .header {
        background: url(/images/fondo768.jpg);
        background-position: center;
        width: 100%;
    }
}

/** Desktop Breakpoint para desktop en el header **/
@media screen and (min-width: 1024px) {
    .header {
        background: url(/images/fondo1024.jpg);
        background-size: cover;
        background-position: center;
        justify-items: center;
    }

    .titulo {
        margin-top: 5%;
    }

    .logo {
        width: 10%;
        margin-bottom: 10px;
    }

    .navbar {
        background-color: palevioletred;
        width: 100%;
        position: fixed;
    }

    .botonCarrito {
        background-color: white;
        border-radius: 5px;
        color: palevioletred;
        text-align: center;
    }

    .botonCarrito:hover {
        color: white;
        background-color: #f5a9eb;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        border-radius: 5px;
    }
}