/** Home Page **/
/** Aquí inicia el estilo del main **/
.mainIndex {
    background: url(/images/muro.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: "contenedorInicio";
    justify-content: center;
}

.contenedorInicio {
    padding: 5%;
    margin: 5%;
    grid-area: contenderoInicio;
    background-color: #dab45b;
    border-style: double;
    border-color: saddlebrown;
    border-width: 5px;
}

.inicio {
    color: saddlebrown;
    background-color: burlywood;
    border-style: double;
    border-color: darkgoldenrod;
    border-width: 5px;
    padding: 2%;
}

.input {
    background-color: antiquewhite;
}

@media screen and (min-width: 768px) {
    .mainIndex {
        background: url(/images/muro768.jpg);
        background-size: cover;
        background-position: center;
    }
}

/** Breakpoint Desktop **/
@media screen and (min-width: 1024px) {
    .mainIndex {
        background: url(/images/muro1024.jpg);
        background-size: cover;
        background-position: center;
    }
}